name = "skai-zaraz"
compatibility_date = "2024-01-01"
main = "src/index.ts"


[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
head_sampling_rate = 1
persist = true